**1.  Discuss string slicing and provide examples.**

String slicing lets you cut out a part of a string.

string[start:end:step]

In [27]:
my_string = "Hello, World!"
print(my_string[0:5])

Hello

In [28]:
my_string = "Hello, World!"
print(my_string[0:5:2])

Hlo

In [30]:
my_string = "Hello, World!"
print(my_string[:-6])
print(my_string[5 :])

Hello,
, World!

In [31]:
my_string = "Hello, World!"
print(my_string[-6:-2])

Worl

In [33]:
my_string = "Hello, World!"
print(my_string[5:-4])

, Wo

In [34]:
my_string = "Hello, World!"
print(my_string[::-1])

!dlroW ,olleH

In [35]:
my_string = "Hello, World!"
print(my_string[::-2])

!lo olH


**2. Explain the key features of lists in Python.**

Key Features of Lists in Python

1. Ordered: Elements maintain the order you insert them in.

2. Mutable: You can change, add, or remove elements.

3. Allows Duplicates: Same value can appear multiple times.

4. Dynamic Size: Lists can grow or shrink as needed.

5. Heterogeneous: Can store different data types (e.g., integers, strings).

6. Indexing & Slicing: Access elements using their index or a range.

7. Iterable: You can loop through lists.

8. Nested Lists: Lists can contain other lists.

In [19]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [21]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [22]:
my_list = (10, 20, 10, 30, 10)
print(my_list)

(10, 20, 10, 30, 10)

In [23]:
my_list = ["ajay", 24, 2.86, "male"]
print(my_list)

['ajay', 24, 2.86, 'male']

In [25]:
my_list = [10, 20, 55, 30,10]
print(my_list[-2])
print(my_list[1:4])

30
[20, 55, 30]

**3. Describe how to access, modify, and delete elements in a list with examples.**

Access: Use indexing my_list[index] to access elements.

Modify: Assign a new value using my_list[index] = new_value.

Delete: Use del, remove(), or pop() to remove elements.

In [14]:
my_list = [1, 2, 3, 4, 5]
print(my_list[0])

1

In [15]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 10
print(my_list)

[10, 2, 3, 4, 5]

In [17]:
my_list = [1, 2, 3, 4, 5]
my_list[-1] = 55
print(my_list[-1])

55

In [18]:
my_list = [1, 2, 3, 4, 5]
del my_list[-2]
print(my_list)

[1, 2, 3, 5]

In [26]:
my_list = [10, 20, 50]
for element in my_list:
    print(element)

10
20
50

**4. Compare and contrast tuples and lists with examples.**

**1. Definition**

List: A list is a mutable, ordered collection of elements, which allows duplicates. You can change, add, or remove items after the list is created.

Tuple: A tuple is an immutable, ordered collection of elements, which also allows duplicates. Once a tuple is created, you cannot change its elements.

**2. Syntax**

List: Lists are defined using square brackets []

In [ ]:
my_list = [1, 2, 3, 4, 5]

Tuple: Tuples are defined using parentheses ()

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

**3. Mutability**

List (Mutable): You can modify a list after it’s created by adding, removing, or changing elements.

In [13]:
my_list = [1, 4, 5, 3, 6,]
my_list.append(2)
print(my_list)

[1, 4, 5, 3, 6, 2]

Tuple (Immutable): You cannot change, add, or remove elements from a tuple after it’s created.

In [ ]:
my_tuple = (1, 4, 5, 6, 3,)

**4. Performance**

List: Lists are generally slower than tuples because they are mutable and offer more functionalities.

Tuple: Tuples are faster than lists due to their immutability. If you need a collection that you don’t need to modify, tuples are more efficient.

**5. Use Cases**

List: Use lists when you need a dynamic collection where elements might change.

Tuple: Use tuples when you need a fixed collection of items, such as coordinates, where the data should not change.

**5. Describe the key features of sets and provide examples of their use.**

Key Features of Sets in Python

1. Unique Elements:

No Duplicates: Sets automatically remove any duplicate items, so each element is unique.

In [ ]:
my_set = {1, 2, 3, 2, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

2. Unordered:

No Specific Order: The elements in a set don’t have a fixed order, so they may appear in any sequence.

In [ ]:
my_set = {2,4,3,5,1}
print(my_set)

{1, 2, 3, 4, 5}

3. No Indexing:

Cannot Access by Position: Since sets don’t have a specific order, you can’t access items by their position like you can with lists or tuples.

4. Changeable:

Add or Remove Items: You can add or remove elements from a set after it’s created.

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)

{1, 3}

5. Fast Membership Testing:

Quick Checks: It’s very fast to check if an item is in a set.

In [ ]:
my_set = {1, 2, 3, 4, 5, 10, 20, 30, 50, 35}
print(10 in my_set)

True

**6. Discuss the use cases of tuples and sets in Python programming.**

Tuples and sets are two fundamental data structures in Python, each with distinct use cases and characteristics. Here’s a discussion of their use cases:

**Tuples**

Characteristics:

a. Immutable: Once created, you cannot change the elements of a tuple.

b. Ordered: Elements maintain their order.

c. Allow Duplicates: You can have multiple occurrences of the same value.

Use Cases:

1. Fixed Data: Use tuples to store data that should not change.

2. Function Return Values: Tuples are often used to return multiple values from a function. They provide a simple way to group related data together.

3. Data Integrity: since tuples are immutable, they are useful for ensuring that data cannot be accidentally modified. They can be used as keys in dictionaries (unlike lists).

4. Iterating Over Data: Tuples are a good choice for iteration when the data does not need modification.

5. Packing and Unpacking: Tuples support packing and unpacking of values, which can make your code more readable and concise.

**Sets**

Characteristics:

a. Mutable: You can add and remove elements after creation.

b. Unordered: Elements have no specific order.

c. No Duplicates: Sets do not allow duplicate elements.

Use Cases:

1. Unique Elements: Use sets when you need to ensure that all elements are unique. For example, removing duplicate values from a list.

In [ ]:
unique_numbers = set([1, 2, 3, 2, 4, 5])
print(unique_numbers)

{1, 2, 3, 4, 5}

2. Membership Testing: Sets are optimized for checking membership. They provide an efficient way to test whether an element is present.

In [ ]:
my_set = {1, 2, 3}
print(2 in my_set)

True

3. Set Operations:

Sets support mathematical set operations like union, intersection, and difference. These operations are useful for tasks involving comparisons between collections.

In [8]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(set_a | set_b)
print(set_a & set_b)
print(set_a - set_b)

{1, 2, 3, 4, 5}
{3}
{1, 2}

4. Removing Duplicates:

Use sets to automatically remove duplicates from a list or other collections.

In [9]:
my_numbers = {1, 2, 3, 2, 4, 5,1,2,3}
unique_numbers = list(my_numbers)
print(unique_numbers)

[1, 2, 3, 4, 5]

**7. Describe how to add, modify and delete items in a dictionary with examples.**

In [ ]:
my_dict = {"name": "John","age": 30,"city": "New York"}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [ ]:
my_dict = {"name": "John","age": 30,"city": "New York"}
my_dict["age"] = 31
print(my_dict)

{'name': 'John', 'age': 31, 'city': 'New York'}

In [ ]:
my_dict = {"name": "John","age": 30,"city": "New York"}
del my_dict["city"]
print(my_dict)

{'name': 'John', 'age': 30}

**8. Discuss the importance of dictionary keys being immutable and provide examples.**

In Python, the immutability of dictionary keys is crucial for maintaining the integrity and functionality of dictionaries.

Dictionary keys need to be immutable (unchangeable) to work properly. This ensures they are easy to find and use, making dictionaries fast and reliable.

In [ ]:
my_dict = {"name": "John","age": 30,"city": "New York"}
print(my_dict["name"])

John

In [ ]:
my_dict = {"name": "John","age": 30,"city": "New York"}
my_dict["name"] = "Alice"
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}