**Explain the key features of python that make it a popular choice for programming.**

python is popular because:

1. Its easy to learn and use

2. Its a general purpose language, you can use it for data science, web programming,AI and many more.

3. Its has so many pre built libraries like pandas, numpy etc.

4. Its great for handling big data and complex algorithms.

**Describe the role of predefined keywords in python and provide examples how they are used in a program.**

Predefined words are the reserved words that hold special meaning and have specific purpose.

 'if' , 'elif', 'else' , 'for', 'while'.

In [ ]:
n=10
if n>5:
  print("n is greater than 5")
elif n == 5:
  print("n is equal to 5")
else:
  print("n is less than 5")

n is greater than 5

In [ ]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

**Compare and contrast mutable and immutable objects in Python with examples.**

Mutable Objects

Mutable objects are those whose values can be changed after they are created.
If you modify a mutable object, the change affects the original object, and no new object is created.
They are useful when you need to store and manipulate a collection of data that can change over time.
For ex - lists and dictionaries.

In [11]:
list_container = [1,2,3,4,5,5,2 ]
list_container[0] = 10
print(list_container)

[10, 2, 3, 4, 5, 5, 2]

In [13]:
list_container = [1,2,3,4,5,5,2 ]
list_container[4] = 50
print(list_container)

[1, 2, 3, 4, 50, 5, 2]

Immutable Objects

Immutable objects are those whose values cannot be changed once they are created.

If you try to modify an immutable object, a new object is created with the modified value, leaving the original object unchanged.

They are ideal for data that should remain constant, ensuring that the value does not accidentally change during program execution.

for ex - strings , integers , float .

In [16]:
string_container = "preeti"
new_string = "Hi, I am " + string_container
print(new_string)

Hi, I am preeti

In [17]:
int = 20
new_int = int + 5
print(new_int)

25


**Discuss the different types of operators in Python and provide examples of how they are used.**


 In Python, operators are special symbols used to perform operations on variables and values. There are several types of operators in Python:
  
  1. Arithmetic operators - perform basic mathematical calculations. like +,*,/,% etc.

In [ ]:
x = 6
y = 8
print(x*y)

48

In [ ]:
x = 8
y = 2
print(x/y)

4.0

In [ ]:
x = 2**5
y = 3**4
z = 18
print(x+y/z)

36.5

In [ ]:
80/6

13.333333333333334

In [ ]:
80//6

13

2. Comparison Operators

These operators are used to compare two values and return 'True' or 'False'.

In [ ]:
a = 40
b = 50
print(a>b)

False

In [ ]:
a = 40
b = 50
print(a<b)

True

In [ ]:
a = 50
b = 50
print(a==b)

True

3. Logical Operators

These operators are used to combine conditional statements. 'and', 'or'.

In [ ]:
 x = 5
y = 10
z = 15
print(x < y and y < z)

True

In [ ]:
x = 3
y = 7
z = 11
print(x > y and y < z)

False

In [ ]:
x = 5
y = 10
z = 15
print(x < y or y > z)

True

In [ ]:
x = 3
y = 7
z = 11
print(x > y or y > z)

False

4. Assignment Operators

These operators are used to assign values to variables.

In [ ]:
b = 10
b += 5
print(b)

15

In [ ]:
b *= 4
print(b)

60

In [ ]:
b /= 20
print(b)

3.0

 5. Membership Operators

These operators test if a sequence contains a specified value.

In [ ]:
a = "i m preeti"
"m" in a

True

In [ ]:
b = "python is a programming language"
"java" not in b

True

6. Identity Operators

These operators check if two objects are the same object in memory.

In [ ]:
B="python"
C="python"
B is C

True

In [ ]:
a = 20
a = x
print(a is x)

True

7. Bitwise Operators

These operators are used to perform bit-level operations on integers.

AND (&), XOR (^) , OR (|) , NOT (~) , Left Shift (<<) ,Right Shift (>>)

In [ ]:
a = 5
b = 3
print(a & b)

1

In [23]:
bin(5)

'0b101'

In [24]:
bin(3)

'0b11'

In [20]:
print(5 | 3)

7

In [21]:
print(~5)

-6

In [22]:
print(5 << 3)

40

In [25]:
print(5 >> 3)

0

**Explain the concept of type casting in Python with examples.**

Type casting in Python is the process of changing the data type of a variable from one type to another. It can happen automatically (implicit casting) or manually (explicit casting)

In [3]:
a = "20"
b = 30
int(a)+b

50

In [5]:
x = 5.7
int(x)

5

In [6]:
x = 5.7
y = 7
x+y

12.7

In [18]:
y = 32
float(y)

32.0

**How do conditional statements work in Python? Illustrate with examples.**

Conditional statements in Python are used to execute code based on certain conditions. They allow you to control the flow of your program by executing different blocks of code depending on whether a condition is True or False. The main conditional statements in Python are if, elif, and else.

In [ ]:
age = 20
if age > 18:
  print("you are a minor")
elif 18<=60:
  print("you are an adult")
else:
  print("you are senior")

you are a minor

In [ ]:
score = 72
if score >=90:
  print("A++")
elif score >=80:
  print("A")
elif score >=70:
  print("B")
elif score >=60:
  print("C")
else:
  print("pass")

B

In [1]:
x = 12
y = 8

if x > 10:
    if y < 10:
        print("x is greater than 10 and y is less than 10")
    else:
        print("x is greater than 10 but y is not less than 10")
else:
    print("x is not greater than 10")

x is greater than 10 and y is less than 10

**Describe the different types of loops in Python and their use cases with examples.**

 In Python , loops are used to execute a block of code multiple times.

'for' , 'while' loops

'for' Loop
The 'for' loop is used to iterate over a sequence (like a list or string) or a range of numbers.

In [26]:
for i in "sophistication":
  print(i)

s
o
p
h
i
s
t
i
c
a
t
i
o
n

In [27]:
i = [1,2,3,4,5,"ajay","preeti"]
for j in i:
  print(j)

1
2
3
4
5
ajay
preeti

In [39]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [40]:
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

'while' loop - repeatedly execute a block of code until a conditon is met.

In [41]:
n = 7
i = 0
while i < n:
  print(i)
  i += 1

0
1
2
3
4
5
6

In [42]:
n = 7
i -= 1
while i < n:
  if i == 3:
    break
  print(i)
  i -= 1

6
5
4

In [43]:
n = 7
i = 0
while i < n:
  i += 1
  if i == 6:
    continue
  print(i)

1
2
3
4
5
7